
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    background: #036 ;
    /*background: linear-gradient(#36F, #F60);*/
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
    max-width: 800px;
    min-width: 256px;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    /*border-radius: 10px;*/
    border-size:3px;
    border-style:ridge;
    border-color:black;
    box-shadow: 20px 20px black;
}

div.main {
}




@media all and (min-aspect-ratio: 1/1){
    article{
        float:left;
        width:62%;

    }

    aside{
        float:right;
        padding-left:24px;
        width:31%;
    }

    footer{
        clear:both;
    }
    


}


html {
    background-color: black;
	background: -moz-linear-gradient(0deg, rgba(255,51,0,1) 0%, rgba(0,0,51,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(255,51,0,1) 0%, rgba(0,0,51,1) 100%);
	background: linear-gradient(0deg, rgba(255,51,0,1) 0%, rgba(0,0,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3300",endColorstr="#000033",GradientType=1);
}

nav {
    float:right;
}



    nav ul {
        list-style-type: none;
        background: #003;
        border-block: 10px;
        font-weight: bold;
        padding: 16px;
        border:2px;
        border-style:outset;
        border-color:black;
    }

    nav ul li {
        display: inline;
        border-right: 8px;
        padding-right: 8px;
        padding-left: 8px;
    }

        nav ul li:last-child {
            border-right: none;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

nav li.selected {
    color: #b6b6b6;
}

nav li a:hover {
    text-decoration: underline;
}


article {
    background-color: #003;
    background: #003;
    color: #ededed;
    padding: 2px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border:2px;
    border-style:outset;
    border-color:black;
}

article section {
    border-bottom:3px;
    border-style:solid;
    border-color:gray;
    margin-bottom:3px;
    padding:5px;
}

article section h3 {
    text-decoration:underline;
}


article a {
    text-decoration:underline;
    color:lightgray;
}



article.releases p {
        padding: 8px
    }

article.releases img {
        float: left;
        margin-right: 15px;
    }

article.blog p {
        padding: 8px
    }

article.blog img {
        float: left;
        margin-right: 15px;
    }

article.blog.noaside {
	width:auto;
}

.pixelart
{
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}



footer {
    background-color: black;
    background: #003;
    border:2px;
    border-style:outset;
    border-color:black;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    width: auto;
}


footer a {
    color: aliceblue;
    display: inline-block;
    
}


article h2 {
    text-align:center;
}


article.about p {
    padding: 8px;
}

header {
    position: center;
    right: 0px;
    width: 50%;
    padding: 10px;
}



aside {
    text-align: center;
    background-color: #000000;
    background: #003;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border:2px;
    border-style:outset;
    border-color:black;
}

aside a {
    color: lightblue;


}


p.date {
    font-size: 75%;
    color: lightgray;
    float: right;
}

h5 {
	font-size:125%;
	
}

h4 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

img.headshot-about {
	float: left; 
	background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 25%, rgba(0,192,255,1) 50%, rgba(192,0,255,1) 75%, rgba(255,0,0,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 25%, rgba(0,192,255,1) 50%, rgba(192,0,255,1) 75%, rgba(255,0,0,1) 100%);
	background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 25%, rgba(0,192,255,1) 50%, rgba(192,0,255,1) 75%, rgba(255,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ff0000",GradientType=1);
	padding:2px; 
	margin-right:10px;"
}